
<section class="content" >
<h1>Apple Store</h1>

  <a>Hello {{firstname}} !</a>
  <button (mousedown)="changeFirstName()" (mouseup)="rechangeFirstName()"><a style="color: darkred">True Identity</a></button>

  <app-menu></app-menu>

  <select  [(ngModel)]="testVar">
    <option selected value="white">White</option>
    <option value="darkred">Red</option>
    <option value="darkgreen">Green</option>
    <option value="darkblue">Blue</option>
  </select>
  <a [style.color]="testVar" > Color changing amazing text!</a>

  <router-outlet></router-outlet>
  </section>
